.InputMsgBoxWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  display: flex;
  background-color: rgba(0, 150, 136, 0.15);
}

.msgInput {
  padding: 3px 5px;
  font-size: 15px;
  flex: 1;
}

.enterBtn {
  font-size: 15px;
  padding: 6px 20px;
  border-radius: 6px;
  background-color: #009688;
  color: white;
  margin-left: 10px;
}