.MsgBoxWrap {
  position: relative;
  border: 1px solid #c0bcbc;
  border-radius: 8px;
  margin: 0 auto;
  background-color: white;
  height: calc(100vh - 20px);
  box-sizing: border-box;
}


.msglist {
  margin: 0;
  padding: 20px 10px 0;
  height: calc(100vh - 158px);
  overflow-y: scroll;
  li {
    list-style: none;
  }
}

.sender {
  display: block;
  margin: 4px 5px;
  font-size: 10px;
  color: #666;
}

.msgBubble {
  padding: 8px 15px;
  background-color: aquamarine;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 10px;
}

.myself {
  text-align: right;
}