.onlineUsersWrap {
  border: 1px solid #c0bcbc;
  padding: 20px 10px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  background-color: white;
}


.name {
  margin-left: 5px;
}

.listWrap {
  text-align: left;
}